/* Stylesheet by https://anupammondal.in/contact */
.navbar {
    margin-bottom: 0px;
}
section {
  margin: 100px auto;
}
.txt-fff {
  color: #fff;
}
.txt-blue {
  color: #3f33ff;
}
.txt-p {
  font-size: 1.24em;
  text-align: justify;
  padding: 15px;
}
.txt-h1 {
  padding: 25px 15px;
}
/* header Slider */
.sliderbg-one {
  background-image: url(https://images.pexels.com/photos/1661004/pexels-photo-1661004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}
.sliderbg-two {
  background-image: url(https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}
.sliderbg-three {
  background-image: url(https://images.pexels.com/photos/1249158/pexels-photo-1249158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}
.item h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
  color: #fff;
  background-color: #3a3a3ab0;
}
h2.txt-slide, h1, h2 {
    font-size: 3.2em;
    font-weight: 900;
    /* color: #fff; */
    /* color: #0d26da; */
    /* color: #383838; */
}
/* header Slider */
.parallax-home {
    background-image: url(https://images.pexels.com/photos/1446319/pexels-photo-1446319.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-one {
    background-image: url(https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-two {
    background-image: url(https://images.pexels.com/photos/1661004/pexels-photo-1661004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-three {
    background-image: url(https://images.pexels.com/photos/1249158/pexels-photo-1249158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgdark {
    background-color: #000000aa;
}
/* Services Page */
header.header-services, header.header-execution {
    background-image: url(https://images.pexels.com/photos/1083623/pexels-photo-1083623.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
    background-size: cover;
}
header.header-services h1 {
  padding-top: 100px;
  padding-bottom: 20px;
}
header.header-services p {
  padding-top: 10px;
  padding-bottom: 80px;
}
.bgstyle {
    /* background-color: #0011e0b5; */
    background-color: #3a3a3ab0;
}
header.header-execution h1 {
  padding-top: 100px;
  padding-bottom: 120px;
}
/* Services Page */
/* Execution Page */
tr.bg-qb {
    background-color: #1a73e8;
    color: #fff;
}
td {
    font-size: 15px;
    font-family: sans-serif;
}
/* Execution Page */
/* Footer */
footer {
    background-color: #3f33ff;
    padding: 15px 25px;
}
.social-ico i.fa {
    padding: 5px 10px;
    font-size: 1.2em;
}
/* Footer */
